/**********************************
Global styles and Mobile First
***********************************/

html {
    background-color: #f7d9d9;
}

body {
   width: 100%;
   margin: 0 auto;
   background-color: #fff;
   font: Arial, Helvetica, sans-serif;
   color: #532c4c;
}

img {
    width: 100%;
}

a {
    text-decoration: none;
    color: #534c4c;
}

#logo {
    text-align: center;
    font-size: 1.4em;
    margin: 20px 0 0 0;
}

.highlighted {
    color: #c158ad;
    font-size: 0.8em;
}

header ul {
    width: 100%;
    text-align: center;
    margin: 10px 0;
    padding: 0;
}

header li {
    display: block;
    padding: 10px;
    background-color: #eee;
}

.fa {
    margin-left: 5px;    
}

/* MAIN MENU */

.menu-collapser {
    background-color: #aaa;
    text-align: center;
}

nav a {
    background-color: #50657b;
}

.slimmenu ul > li a {
    background-color: #fcfcfc;
}

ul.slimmenu li> ul {
    background-color: #fff;
}